# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/genapp/lastconfig.properties
/genapp/genapp.log
/pinbaladmin-back/.project
/pinbaladmin-back/.settings
/pinbaladmin-back/target
/pinbaladmin-back/.classpath
/pinbaladmin-commons/.project
/pinbaladmin-commons/.settings
/pinbaladmin-commons/target
/pinbaladmin-commons/.classpath
/pinbaladmin-ear/target
/pinbaladmin-ejb/.project
/pinbaladmin-ejb/.settings
/pinbaladmin-ejb/target
/pinbaladmin-ejb/.classpath
/pinbaladmin-model/.project
/pinbaladmin-model/.settings
/pinbaladmin-model/target
/pinbaladmin-model/.classpath
/pinbaladmin-persistence/.project
/pinbaladmin-persistence/.settings
/pinbaladmin-persistence/target
/pinbaladmin-persistence/.classpath
/pinbaladmin-selenium/.project
/pinbaladmin-selenium/.settings
/pinbaladmin-selenium/target
/pinbaladmin-selenium/.classpath
/pinbaladmin-selenium/target
/pinbaladmin-selenium/.classpath
/pinbaladmin-selenium/.project
/pinbaladmin-selenium/.settings
/pinbaladmin-ws/domini-sistra-server/.project
/pinbaladmin-ws/domini-sistra-server/.settings
/pinbaladmin-ws/domini-sistra-server/target
/pinbaladmin-ws/domini-sistra-server/.classpath
/config.bat
/pinbaladmin-back/servidordecorreu.properties
/pinbaladmin-selenium/resultat.html
/update_database_to_jboss7.sql
/version-ruleset.xml
/pinbaladmin-ws/domini-sistra-api/.project
/pinbaladmin-ws/domini-sistra-api/.settings
/pinbaladmin-ws/domini-sistra-api/target
/pinbaladmin-ws/domini-sistra-api/.classpath
/apialtapeticions/test.properties
/apialtapeticions/.classpath
/apialtapeticions/.project
/apialtapeticions/hola.txt
/apialtapeticions/regenerateapi.bat
/apialtapeticions/target
/apialtapeticions/.settings
/tràmit_sistra.txt
/tramit sistra dades/DI_PID_Solicitud_Autorizaciones_v1.9.pdf
/tramit sistra dades/DatosSistraSQL (Autoguardado).xlsx
/tramit sistra dades/DatosSistraSQL.xlsx
/tramit sistra dades/Dudas formulario.txt
/tramit sistra dades/Formulario_Director_General.pdf
/tramit sistra dades/Image 3.png
/tramit sistra dades/Image 4.png
/tramit sistra dades/Image 5.png
/tramit sistra dades/Image 6.png
/tramit sistra dades/Image 7.png
/tramit sistra dades/Libro2.xlsx
/tramit sistra dades/formulario.xml
/tramit sistra dades/~$DatosSistraSQL.xlsx
/ejb.bat
/cmd_compile.bat
/scripts/bbdd/postgresql/backup/pinbaladmin2_2.0.0_data.sql
/scripts/bbdd/postgresql/backup/pinbaladmin2_2.0.0_schema.sql
/scripts/bbdd/postgresql/backup/pinbaladmin2_local_2.0.0_data.sql
/scripts/bbdd/postgresql/organs gestors/CANVIS PER ACTUALITZAR ORGANS GESTORS DE PROCEDIMENTS.sql
/scripts/bbdd/postgresql/organs gestors/DadesPinbalOrgansGestors.xlsx
/scripts/bbdd/postgresql/organs gestors/DadesPinbalOrgansGestorsProd.xlsx
/scripts/bbdd/postgresql/organs gestors/InsertOrgans.sql
/scripts/bbdd/postgresql/organs gestors/InsertOrgansProd.sql
/scripts/bbdd/postgresql/organs gestors/Organs Gestors Prod.sql
/scripts/bbdd/postgresql/organs gestors/Organs Ok.xlsx
/scripts/bbdd/postgresql/organs gestors/dades script.txt
/scripts/bbdd/postgresql/organs gestors/procediments Ok.xlsx
/scripts/bbdd/postgresql/organs gestors/~$entitats Ok.xlsx
/pinbaladmin-back/test.bat
/pinbaladmin-back/solicitud.json
/tramit sistra dades/~$Libro2 (Autoguardado).xlsx
/tramit sistra dades/Libro2 (Autoguardado).xlsx
/tramit sistra dades
/pinbaladmin-back/test.properties
/Proxy
/api.bat
/installCerts.bat
/pinbaladmin-back/Datos_de_la_solicitud_3015170.pdf
/pinbaladmin-back/fichero.pdf
/pemfiles/proves_caib_es.pem
/log.txt
/pinbaladmin-back/datosEspecificos.xml
/pinbaladmin-back/datosEspecificosMarshal.xml
/pinbaladmin-ear/pom-old.xml
/mixed.bat
/scripts/linux/java.sh
/scripts/linux/jboss.sh
/scripts/linux/jboss7
/genapp/genapp.log.1
/pinbaladmin-api-externa/target
